In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import h5py
import scipy

In [3]:
data = pd.read_csv("/content/drive/MyDrive/datasets/sin_data.csv")
data.head(5)

          x         sin_x  Unnamed: 2
0 -6.283185  2.449294e-16         NaN
1 -6.270568  1.261650e-02         NaN
2 -6.257952  2.523100e-02         NaN
3 -6.245335  3.784148e-02         NaN
4 -6.232718  5.044593e-02         NaN

In [4]:
data.isnull().sum()

x                0
sin_x            0
Unnamed: 2    1000
dtype: int64

In [5]:
data.drop(["Unnamed: 2"], axis=1, inplace=True)
data.columns

Index(['x', 'sin_x'], dtype='object')

In [6]:
import sklearn
from sklearn.model_selection import train_test_split

In [70]:
X = data["x"]
y = data["sin_x"]

In [71]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=1) # 0.25 x 0.8 = 0.2

In [30]:
print(X_train.shape)
print(X_test.shape)
print(X_val.shape)

(600,)
(200,)
(200,)

In [10]:
def tanh_func(x):
    z = (2/(1 + np.exp(-2*x))) -1
    return z

def sigmoid(z):
    s = 1/(1+np.exp(-z))  
    return s

print ("tanh_func([0.5, -1]) = " + str(tanh_func(np.array([0,2]))))
print ("sigmoid([0, 2]) = " + str(sigmoid(np.array([0,2]))))

tanh_func([0.5, -1]) = [0.         0.96402758]
sigmoid([0, 2]) = [0.5        0.88079708]

In [59]:
def initialize_param(dim):
    w = np.random.randn(dim, 1)*.01
    b = 0
    assert(w.shape == (dim, 1))
    assert(isinstance(b, float) or isinstance(b, int))
    return w, b

In [85]:
dim = 2
w, b = initialize_param(dim)
print ("w = " + str(w))
print ("b = " + str(b))

w = [[-0.0058196 ]
 [ 0.00284908]]
b = 0

In [89]:
def propagate(w, b, P, Q):

    m = P.shape[1]
    
    # FORWARD PROPAGATION (FROM P TO COST)
    A = sigmoid(np.dot(w.T, P) + b)                                    # compute activation
    cost = -1/m*(np.sum(Q*np.log(A) + (1-Q)*np.log(1-A)))                                 # compute cost
    
    # BACKWARD PROPAGATION (TO FIND GRAD)
    dw = 1/m*(np.dot(P, ((A-Q).T)))
    db = 1/m*(np.sum(A-Q))

    assert(dw.shape == w.shape)
    assert(db.dtype == float)
    cost = np.squeeze(cost)
    assert(cost.shape == ())
    
    grads = {"dw": dw,
             "db": db}
    
    return grads, cost

In [90]:
w, b, P, Q = np.array([[1.],[2.]]), 2., np.array([[1.,2.,-1.],[3.,4.,-3.2]]), np.array([[1,0,1]])
grads, cost = propagate(w, b, P, Q)
print ("dw = " + str(grads["dw"]))
print ("db = " + str(grads["db"]))
print ("cost = " + str(cost))


# w = 2,1 wT = 1 , 2
# b = 1,0
# P = 2,3 = m
# Q = 1,3 // shape likh rahahumko lag rha h ye (600,) wala error hota tha na, jo (600,1) nhi hoke.. smjhe?
# isme tpoh ans aa raha.

dw = [[0.99845601]
 [2.39507239]]
db = 0.001455578136784208
cost = 5.801545319394553

In [ ]:
def optimize(w, b, X, Y, num_iterations, learning_rate, print_cost = False):
    costs = []
    
    for i in range(num_iterations):
        grads, cost = propagate(w, b, X, Y)

        dw = grads["dw"]
        db = grads["db"]
        w = w - learning_rate*dw
        b = b - learning_rate*db

        if i % 100 == 0:
            costs.append(cost)

        if print_cost and i % 100 == 0:
            print ("Cost after iteration %i: %f" %(i, cost))
    
    params = {"w": w,
              "b": b}
    
    grads = {"dw": dw,
             "db": db}
    
    return params, grads, costs

params, grads, costs = optimize(w, b, train_x, train_y.shape, num_iterations= 100, learning_rate = 0.009, print_cost = False)

print ("w = " + str(params["w"]))
print ("b = " + str(params["b"]))
print ("dw = " + str(grads["dw"]))
print ("db = " + str(grads["db"]))

In [86]:
train_x = np.expand_dims(X_train, axis=0)
train_x.shape

(1, 600)

In [87]:
train_y = np.expand_dims(y_train, axis=0)
train_y.shape

(1, 600)